APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

DB_TICKET_HOST=127.0.0.1
DB_TICKET_DATABASE=homestead
DB_TICKET_USERNAME=homestead
DB_TICKET_PASSWORD=secret

DB_IDELIVERY_HOST=127.0.0.1
DB_IDELIVERY_DATABASE=homestead
DB_IDELIVERY_USERNAME=homestead
DB_IDELIVERY_PASSWORD=secret

DB_PRODUCTION_IDELIVERY_HOST=127.0.0.1
DB_PRODUCTION_IDELIVERY_DATABASE=homestead
DB_PRODUCTION_IDELIVERY_USERNAME=homestead
DB_PRODUCTION_IDELIVERY_PASSWORD=secret

DB_SYSTEM_MEMBER_HOST=127.0.0.1
DB_SYSTEM_MEMBER_DATABASE=homestead
DB_SYSTEM_MEMBER_USERNAME=homestead
DB_SYSTEM_MEMBER_PASSWORD=secret

DB_PRODUCTION_SYSTEM_MEMBER_HOST=127.0.0.1
DB_PRODUCTION_SYSTEM_MEMBER_DATABASE=homestead
DB_PRODUCTION_SYSTEM_MEMBER_USERNAME=homestead
DB_PRODUCTION_SYSTEM_MEMBER_PASSWORD=secret

DB_SYSTEM_BILLING_HOST=127.0.0.1
DB_SYSTEM_BILLING_DATABASE=homestead
DB_SYSTEM_BILLING_USERNAME=homestead
DB_SYSTEM_BILLING_PASSWORD=secret

DB_SYSTEM_DAMAIAPP_HOST=127.0.0.1
DB_SYSTEM_DAMAIAPP_DATABASE=homestead
DB_SYSTEM_DAMAIAPP_USERNAME=homestead
DB_SYSTEM_DAMAIAPP_PASSWORD=secret

DB_PRODUCTION_SYSTEM_DAMAIAPP_HOST=127.0.0.1
DB_PRODUCTION_SYSTEM_DAMAIAPP_DATABASE=homestead
DB_PRODUCTION_SYSTEM_DAMAIAPP_USERNAME=homestead
DB_PRODUCTION_SYSTEM_DAMAIAPP_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

SUMMERNOTE_IMG_PATH=

ADMIN_UPLOAD_DISK=admin
ADMIN_UPLOAD_URL=http://localhost/upload
ADMIN_UPLOAD_PATH=idelivery/

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-northeast-1
AWS_BUCKET=damaiapp.development

SERVICE_ID=

SYSTEM_MEMBER_API_URL=
IDELIVERY_API_URL=
FOLLOW_URL=
OLD_API_URL=
OLD_ORDER_API_URL=
OLD_APP_KEY=